 <div class="footer_partial">
  <footer>
   <h1>本日の日付：<%= get_today_date %>　スケジュール合計:<%= get_user_count %></h1>
  </footer>
 </div>
 
 <div class="footer_partial_2">
  <footer>
   <h1>本日の日付：<%= get_today_date %></h1>
  </footer>
 </div>
 
 